body {
  padding-top: 80px;
}

.ui.label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui.header {
  margin-top: 20px !important;
}

.fields {
  margin-top: 20px !important;
}

.ui.horizontal.list {
  padding: 20px;
}

.ui.button {
  margin-top: 10px;
}
